fieldset {
	position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    /*margin-top: 20%;*/
    padding: 2px 2px;
    /*width: 100%*/
    z-index: 5;
    left: 0;
    /*flex:1 1 auto;*/
}

#stdate-panel {
    float:left
}
#enddate-panel {
    float:left
}
#submit-query {
    float:left
}

legend {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;

    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

