fieldset {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 2px;
    z-index: 5;
    left: 0;
}

#stdate-panel {
    float:left
}
#enddate-panel {
    float:left
}
#submit-query {
    float:left
}

#path-length{
    padding-top: 5px;
    z-index: 4;
    display: inline-block;
}

.main-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items:top;
    margin:0;
}

.path p{
    margin:0;
    display: inline-block;
}

legend {
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;

    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

